In [1]:
import pandas as pd

#Загрузка и предобработка

Основные данные взяты из Кэгла: https://www.kaggle.com/prasertk/netflix-subscription-price-in-different-countries

In [2]:
Netflix_subs = pd.read_csv('https://raw.githubusercontent.com/Andruwkach/pandas_workshop/c735366f40d881a1edccae2d98e1569562db8f63/Netflix.csv')

In [3]:
Netflix_subs.sample(3)

   Country_code  ... Cost Per Month - Premium ($)
50           sg  ...                        16.11
6            bg  ...                        13.54
16           fi  ...                        18.06
64           ve  ...                        13.99
22           hn  ...                        13.99

[5 rows x 8 columns]

Данные по душевому доходу по паритету покупательной способности взяты с Кэгла: https://www.kaggle.com/nitishabharathi/gdp-per-capita-all-countries

In [4]:
GDP_PPP = pd.read_csv('https://raw.githubusercontent.com/Andruwkach/pandas_workshop/main/GDP.csv')

In [5]:
GDP_PPP.sample(3)

                                          Country   ... 2019
173                                          Nauru  ...  NaN
58   Europe & Central Asia (excluding high income)  ...  NaN
8                              Antigua and Barbuda  ...  NaN
45                                         Curacao  ...  NaN
101                                       IDA only  ...  NaN

[5 rows x 32 columns]

Возьмём 2017 год как наиболее полный; смёрджим с основными данными; посмотрим на пропуски

In [6]:
GDP_PPP = GDP_PPP[['Country ', '2017']]

In [7]:
Netflix_subs = Netflix_subs.merge(GDP_PPP, how='left', left_on='Country', right_on='Country ')

In [8]:
Netflix_subs[Netflix_subs['2017'].isna()]

   Country_code        Country  ...       Country   2017
12           cz        Czechia  ...            NaN   NaN
19           gi      Gibraltar  ...      Gibraltar   NaN
23           hk      Hong Kong  ...            NaN   NaN
33           li  Liechtenstein  ...  Liechtenstein   NaN
38           mc         Monaco  ...         Monaco   NaN
48           ru         Russia  ...            NaN   NaN
51           sk       Slovakia  ...            NaN   NaN
53           kr    South Korea  ...            NaN   NaN
57           tw         Taiwan  ...            NaN   NaN
64           ve      Venezuela  ...            NaN   NaN

[10 rows x 10 columns]

Часть данных не смёрджилось, из-за того что в источниках разные названия для одних стран (например, Russia/ Russia Federation), а по части не было данных изначально. Заполним пропуски вручную (взяв недостающие цифры из открытых источников)

In [9]:
Netflix_subs.loc[Netflix_subs.Country == 'Russia', '2017'] = 25766.92881
Netflix_subs.loc[Netflix_subs.Country == 'Czechia', '2017'] = 38019.58051
Netflix_subs.loc[Netflix_subs.Country == 'Gibraltar', '2017'] = 61700
Netflix_subs.loc[Netflix_subs.Country == 'Hong Kong', '2017'] = 61713.41554
Netflix_subs.loc[Netflix_subs.Country == 'Liechtenstein', '2017'] = 157800
Netflix_subs.loc[Netflix_subs.Country == 'Monaco', '2017'] = 116700
Netflix_subs.loc[Netflix_subs.Country == 'Slovakia', '2017'] = 32243.84951
Netflix_subs.loc[Netflix_subs.Country == 'South Korea', '2017'] = 38824.11539
Netflix_subs.loc[Netflix_subs.Country == 'Taiwan', '2017'] = 53200
Netflix_subs.loc[Netflix_subs.Country == 'Venezuela', '2017'] = 18102.46829

Скачаем доп. данные (в частности, по валюте): https://www.comparitech.com/blog/vpn-privacy/countries-netflix-cost/

In [10]:
add_data = pd.read_csv('https://raw.githubusercontent.com/Andruwkach/pandas_workshop/main/additional_data.csv')

In [11]:
add_data.sample(3)

      Country Currency  Price per Title
15     Mexico      MXN          0.00133
31    Germany      EUR          0.00159
2   Argentina      ARS          0.00079

In [17]:
Netflix_subs = Netflix_subs.merge(add_data, how='left', on='Country')

In [19]:
Netflix_subs[Netflix_subs.Currency.isna()]

   Country_code  Country  ...  Currency  Price per Title
12           cz  Czechia  ...       NaN              NaN

[1 rows x 12 columns]

1 пропуск из-за разного названия страны, заполним вручную.

In [20]:
Netflix_subs.loc[Netflix_subs.Country == 'Czechia', 'Currency'] = 'CZK'
Netflix_subs.loc[Netflix_subs.Country == 'Czechia', 'Price per Title'] = 0.00121

Также скачаем данные для определения континента: https://www.kaggle.com/statchaitya/country-to-continent

In [14]:
country_continent = pd.read_csv('https://raw.githubusercontent.com/Andruwkach/pandas_workshop/main/countryContinent.csv', encoding='latin-1')

смотрим, мёрджим, ищем пропуски

In [15]:
country_continent.sample(3)

        country code_2 code_3  ...      sub_region region_code sub_region_code
123     Lebanon     LB    LBN  ...    Western Asia       142.0           145.0
181     Romania     RO    ROU  ...  Eastern Europe       150.0           151.0
40   Cabo Verde     CV    CPV  ...  Western Africa         2.0            11.0

[3 rows x 9 columns]

In [24]:
country_continent = country_continent[['code_2', 'continent']]
country_continent['code_2'] = country_continent['code_2'].apply(lambda x: str(x).lower())

In [27]:
Netflix_subs = Netflix_subs.merge(country_continent, how='left', left_on='Country_code', right_on='code_2')

In [29]:
Netflix_subs[Netflix_subs.continent.isna()]

Empty DataFrame
Columns: [Country_code, Country, Total Library Size, No. of TV Shows, No. of Movies, Cost Per Month - Basic ($), Cost Per Month - Standard ($), Cost Per Month - Premium ($), Country , 2017, Currency, Price per Title, code_2, continent]
Index: []

Отлично. За работу!

#Задание

##1 Какая средняя цена подписки, (базовой, стандартной, премиум) в зависимости от валюты страны.

In [36]:
currency_price = Netflix_subs[
                              [
                                'Cost Per Month - Basic ($)', 
                                'Cost Per Month - Standard ($)', 
                                'Cost Per Month - Premium ($)', 
                                'Currency',
                                ]
                              ].groupby('Currency', as_index=False).mean()

Посмотрим на 5 самых дешёвых подписок по валютам для каждого из видов.

In [38]:
currency_price[
               ['Currency', 'Cost Per Month - Basic ($)']
               ].sort_values('Cost Per Month - Basic ($)').head(5)

   Currency  Cost Per Month - Basic ($)
29      TRY                        1.97
15      INR                        2.64
0       ARS                        3.74
6       COP                        4.31
2       BRL                        4.61

In [39]:
currency_price[
               ['Currency', 'Cost Per Month - Standard ($)']
               ].sort_values('Cost Per Month - Standard ($)').head(5)

   Currency  Cost Per Month - Standard ($)
29      TRY                           3.00
0       ARS                           6.30
15      INR                           6.61
6       COP                           6.86
2       BRL                           7.11

In [40]:
currency_price[
               ['Currency', 'Cost Per Month - Premium ($)']
               ].sort_values('Cost Per Month - Premium ($)').head(5)

   Currency  Cost Per Month - Premium ($)
29      TRY                          4.02
15      INR                          8.60
0       ARS                          9.26
6       COP                          9.93
2       BRL                          9.96

Интересно, что в топ-5 дешёвых подписок входят одни и те же валюты для всех видов подписок: турецкая лира, индийская рупия, аргентинское песо, колумбийское песо, бразильский реал.

Посмотрим на топ-5 дорогих подписок каждого вида.

In [41]:
currency_price[
               ['Currency', 'Cost Per Month - Basic ($)']
               ].sort_values('Cost Per Month - Basic ($)', ascending=False).head(5)

   Currency  Cost Per Month - Basic ($)
4       CHF                       12.88
8       DKK                       12.00
26      SEK                       10.90
14      ILS                       10.56
20      NOK                        9.94

In [42]:
currency_price[
               ['Currency', 'Cost Per Month - Standard ($)']
               ].sort_values('Cost Per Month - Standard ($)', ascending=False).head(5)

   Currency  Cost Per Month - Standard ($)
4       CHF                          20.46
14      ILS                          15.05
8       DKK                          15.04
26      SEK                          14.20
10      GBP                          13.20

In [43]:
currency_price[
               ['Currency', 'Cost Per Month - Premium ($)']
               ].sort_values('Cost Per Month - Premium ($)', ascending=False).head(5)

   Currency  Cost Per Month - Premium ($)
4       CHF                         26.96
26      SEK                         19.70
8       DKK                         19.60
14      ILS                         19.54
10      GBP                         18.48

Топ 5 дорогих подисок покупаются за швейцарский франк, шведская крона, датская крона, новый израильский шекель, фунт стерлингов и, если речь идёт о базовой подписке, норвежскую крону.

##2 Какая средняя цена подписки, (базовой, стандартной, премиум) в зависимости от континента

In [47]:
continent_price = Netflix_subs[
                              [
                                'Cost Per Month - Basic ($)', 
                                'Cost Per Month - Standard ($)', 
                                'Cost Per Month - Premium ($)', 
                                'continent',
                                ]
                              ].groupby('continent', as_index=False).mean()

In [48]:
continent_price

  continent  ...  Cost Per Month - Premium ($)
0    Africa  ...                     12.580000
1  Americas  ...                     13.548750
2      Asia  ...                     12.966667
3    Europe  ...                     17.545588
4   Oceania  ...                     16.665000

[5 rows x 4 columns]

В Европе самые дорогие цены для любого вида подписки, а второе место всегда занимает Океания. Самые дешёвые подписки в среднем - в Африке.

##3 Сколько стоит подписка относительно среднего дохода (базовая, стандартная, премиум) в Чехии?

Посчитаем, какой % составляет месячная подписка от месячного ВВП на душу населения по ППС

In [55]:
cz_basic_gdp = Netflix_subs[Netflix_subs.Country_code == 'cz'
                ]['Cost Per Month - Basic ($)'
                ] / Netflix_subs[Netflix_subs.Country_code == 'cz'
                ]['2017'] * 12 * 100
cz_standard_gdp = Netflix_subs[Netflix_subs.Country_code == 'cz'
                ]['Cost Per Month - Standard ($)'
                ] / Netflix_subs[Netflix_subs.Country_code == 'cz'
                ]['2017'] * 12 * 100
cz_premium_gdp = Netflix_subs[Netflix_subs.Country_code == 'cz'
                ]['Cost Per Month - Premium ($)'
                ] / Netflix_subs[Netflix_subs.Country_code == 'cz'
                ]['2017'] * 12 * 100

In [60]:
print(f'''базовая подписка = {float(round(cz_basic_gdp, 3))}% от ВВП по ППС на душу,
стандартная подписка = {float(round(cz_standard_gdp, 3))}% от ВВП по ППС на душу,
премиум подписка = {float(round(cz_premium_gdp, 3))}% от ВВП по ППС на душу''')

базовая подписка = 0.279% от ВВП по ППС на душу,
стандартная подписка = 0.363% от ВВП по ППС на душу,
премиум подписка = 0.447% от ВВП по ППС на душу

Каждый чех зарабатывает себе ~ 300 подписок в среднем. Неплохо для людей, которые не пользуются Авито!

##4 Какие топ-5 стран имеют самую большую доступную коллекцию сериалов?

Сериалов в датасете нет, будем надеяться, что автор имел в виду что-то, что уже есть в данных. Например, размер общей библиотеки.

In [67]:
Netflix_subs[
             ['Country', 'Total Library Size']
             ].sort_values('Total Library Size', ascending=False).head(5)

           Country  Total Library Size
12         Czechia                7325
51        Slovakia                7035
24         Hungary                6884
6         Bulgaria                6797
61  United Kingdom                6643

Чехи! И прочие европейцы. Но есть ли у них берёзы, водка и Авито?

##5 Какой процент среднего дохода россиянина будет составлять подписка Netflix?

In [68]:
ru_basic_gdp = Netflix_subs[Netflix_subs.Country_code == 'ru'
                ]['Cost Per Month - Basic ($)'
                ] / Netflix_subs[Netflix_subs.Country_code == 'ru'
                ]['2017'] * 12 * 100
ru_standard_gdp = Netflix_subs[Netflix_subs.Country_code == 'ru'
                ]['Cost Per Month - Standard ($)'
                ] / Netflix_subs[Netflix_subs.Country_code == 'ru'
                ]['2017'] * 12 * 100
ru_premium_gdp = Netflix_subs[Netflix_subs.Country_code == 'ru'
                ]['Cost Per Month - Premium ($)'
                ] / Netflix_subs[Netflix_subs.Country_code == 'ru'
                ]['2017'] * 12 * 100

In [69]:
print(f'''базовая подписка = {float(round(ru_basic_gdp, 3))}% от ВВП по ППС на душу,
стандартная подписка = {float(round(ru_standard_gdp, 3))}% от ВВП по ППС на душу,
премиум подписка = {float(round(ru_premium_gdp, 3))}% от ВВП по ППС на душу''')

базовая подписка = 0.379% от ВВП по ППС на душу,
стандартная подписка = 0.505% от ВВП по ППС на душу,
премиум подписка = 0.632% от ВВП по ППС на душу

Процентов на 30 подороже, чем у Чехов!

##6 На каком месте будет Россия, если отсортировать страны по эффективности подписки (Cost Per Title)

In [75]:
sub_data = Netflix_subs.sort_values('Price per Title'
            ).reset_index()[['Country', 'Price per Title']]

In [76]:
sub_data[sub_data.Country == 'Russia']

   Country  Price per Title
25  Russia          0.00142

26-ое место! Почти в середине

##7 В какой стране лучше всего брать VPN для того, чтобы платить за Netflix меньше всего?

In [78]:
Netflix_subs.sort_values('Cost Per Month - Basic ($)'
            )[['Country', 'Cost Per Month - Basic ($)']].head(1)

   Country  Cost Per Month - Basic ($)
59  Turkey                        1.97

In [79]:
Netflix_subs.sort_values('Cost Per Month - Standard ($)'
            )[['Country', 'Cost Per Month - Standard ($)']].head(1)

   Country  Cost Per Month - Standard ($)
59  Turkey                            3.0

In [80]:
Netflix_subs.sort_values('Cost Per Month - Premium ($)'
            )[['Country', 'Cost Per Month - Premium ($)']].head(1)

   Country  Cost Per Month - Premium ($)
59  Turkey                          4.02

Тур-ци-я! Тур-ци-я! Тур-ци-я!