#### Задание (0/2)
- [ ] Найти в открытых источниках или составить самостоятельно таблицу среднего дохода (PPP) в зависимости от страны
- [ ] Построить график корреляции между средним доходом (PPP) и ценой подписки 

#### Вопросы (5/7)
- [x] Какая средняя цена подписки, (базовой, стандартной, премиум) в зависимости от валюты страны.
- [x] Какая средняя цена подписки, (базовой, стандартной, премиум) в зависимости от континента
- [x] Сколько стоит подписка относительно среднего дохода (базовая, стандартная, премиум) в Чехии?
- [x] Какие топ-5 стран имеют самую большую доступную коллекцию сериалов?
- [x] Какой процент среднего дохода россиянина будет составлять подписка Netflix?
- [ ] На каком месте будет Россия, если отсортировать страны по эффективности подписки (Cost Per Title)
- [ ] В какой стране лучше всего брать VPN для того, чтобы платить за Netflix меньше всего?

#### Ограничения (5/5)
- [x] Данные, используемые в ноутбуке с решением, должны подтягиваться через url c удаленного источника (википедии, google sheets, etc)
- [x] Нельзя использовать циклы for, while для работы с данными. Используйте инструменты Pandas
- [x] Должны присутствовать методы df.apply, pd.merge, pd.concat
- [x] В приведенной статье есть готовые выводы, их нельзя использовать.
- [x] Решение оформить в виде репозитория на github.com

In [1]:
import pandas as pd

<h2 style="color:red">
    Лучше было использовать ссылки вида 
</h2>
https://raw.githubusercontent.com/{username}/{repo_name}/{file_name}.csv

In [2]:
df = pd.read_csv('netflix price in different countries.csv')

Какая средняя цена подписки, (базовой, стандартной, премиум) в зависимости от валюты страны.

In [3]:
df.groupby(['Country']).mean()[['Cost Per Month - Basic ($)', 'Cost Per Month - Standard ($)', 'Cost Per Month - Premium ($)']]

,Cost Per Month - Basic ($),Cost Per Month - Standard ($),Cost Per Month - Premium ($)
Country,,,
Argentina,3.74,6.30,9.26
Australia,7.84,12.12,16.39
Austria,9.03,14.67,20.32
Belgium,10.16,15.24,20.32
Bolivia,7.99,10.99,13.99
...,...,...,...
Ukraine,5.64,8.46,11.29
United Kingdom,7.91,13.20,18.48
United States,8.99,13.99,17.99
Uruguay,8.99,12.99,15.99
Venezuela,7.99,10.99,13.99

Какая средняя цена подписки, (базовой, стандартной, премиум) в зависимости от континента?

Решение закоментировано

In [4]:
# df = pd.merge(df, df_continent, on='Country')
# df.groupby('continent').mean()

Сколько стоит подписка относительно среднего дохода (базовая, стандартная, премиум) в Чехии? 

Средний доход в Чехии  688.75 $.

In [5]:
czech_price = df[df.Country == 'Czechia'][['Cost Per Month - Basic ($)', 'Cost Per Month - Standard ($)', 'Cost Per Month - Premium ($)']] / 688.75 * 100
czech_price.columns = ['Basic in mean income %', 'Standard in mean income %', 'Premium in mean income %']
czech_price

   Basic in mean income %  Standard in mean income %  Premium in mean income %
8                1.282033                    1.66824                  2.054446

Какие топ-5 стран имеют самую большую доступную коллекцию сериалов? 

Топ 5 стран: Чехия, Словая, Болгария, Венгрия и Великобритания.

In [6]:
df.sort_values('No. of TV Shows', ascending=False).head(5).reset_index(drop=True)

,Country,Total Library Size,No. of TV Shows,No. of Movies,Cost Per Month - Basic ($),Cost Per Month - Standard ($),Cost Per Month - Premium ($)
0,Czechia,7325,5234,2091,8.83,11.49,14.15
1,Slovakia,7035,5055,1980,9.03,11.29,13.54
2,Bulgaria,6797,4819,1978,9.03,11.29,13.54
3,Hungary,6884,4802,2082,7.64,10.71,13.78
4,United Kingdom,6643,4551,2092,7.91,13.20,18.48

<h2 style="color:red">
   Нужна была таблица с доходами
</h2>

Какой процент среднего дохода россиянина будет составлять подписка Netflix?
Средний доход россиянина = 500 $

In [7]:
rus_price = df[df.Country == 'Russia'][['Cost Per Month - Basic ($)', 'Cost Per Month - Standard ($)', 'Cost Per Month - Premium ($)']] / 5
rus_price.columns = ['Basic in mean income %', 'Standard in mean income %', 'Premium in mean income %']
rus_price

,Basic in mean income %,Standard in mean income %,Premium in mean income %
34,1.626,2.168,2.712

На каком месте будет Россия, если отсортировать страны по эффективности подписки (Cost Per Title)?

Россия будет на 1 месте

<h2 style="color:red">
   Конечно она будет на первом месте  
    
    
   Ты сначала оставляешь только одну строчку с помощью команды df[df.Country == 'Russia'] а потом сортируешь ее по эффективности 
</h2>

In [8]:
df['Cost Per title'] = df.apply(lambda x: x['Cost Per Month - Basic ($)'] / x['Total Library Size'], axis=1)
df[df.Country == 'Russia'].sort_values('Cost Per title').reset_index()

,index,Country,Total Library Size,No. of TV Shows,No. of Movies,Cost Per Month - Basic ($),Cost Per Month - Standard ($),Cost Per Month - Premium ($),Cost Per title
0,34,Russia,5711,3624,2087,8.13,10.84,13.56,0.001424

В какой стране лучше всего брать VPN для того, чтобы платить за Netflix меньше всего?

В Турции самая низкая цена за подписку. Следом идут Индия и Аргентина.

In [9]:
df.sort_values(['Cost Per Month - Basic ($)', 'Cost Per Month - Standard ($)',
                'Cost Per Month - Premium ($)']).reset_index(drop=True).head(3)

,Country,Total Library Size,No. of TV Shows,No. of Movies,Cost Per Month - Basic ($),Cost Per Month - Standard ($),Cost Per Month - Premium ($),Cost Per title
0,Turkey,4639,2930,1709,1.97,3.00,4.02,0.000425
1,India,5843,3718,2125,2.64,6.61,8.60,0.000452
2,Argentina,4760,3154,1606,3.74,6.30,9.26,0.000786